{% extends 'navbar.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>addjob</title>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Search bar -->
    <link href="{% static "main.css" %}" rel="stylesheet"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
            padding-top: 65px;
        }

        *{
            font-family: "Lucida Console", "Courier New", monospace;
        }

        .card {
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          max-width: 80%;
          margin: auto;
        }

        .major {
          color: grey;
          font-size: 18px;
          margin-left: 20px;
        }

        .card button {
          border-radius: 5px;
          outline: 0;
          display: inline-block;
          padding: 6px;
          color: white;
          background-color: orange;
          text-align: center;
          cursor: pointer;
          width: 20%;
          font-size: 16px;
        }
        .card p{
          margin-left: 20px;
        }

        .card a {
          text-decoration: none;
          font-size: 22px;
          color: black;
        }

        .card button:hover, a:hover {
          opacity: 0.7;
        }

        #settings{
          margin-top: 20px;
          margin-right: 20px;
          position:absolute;
          top:0;
          right:0;
        }

        .checked {
          color: orange;
        }
    </style>
</head>
<body>

    <div class="card">
        <h2 style="margin-left: 1%; margin-top: 1%">Add a job</h2>

        {% if job_details %}
          <p> Job name: </p>
          <p>{{ job_details.title }}</p>
          <p>Description: </p>
          <p>{{ job_details.description }}</p>
          <p>Deadline: </p>
          <p>{{ job_details.duedate }}</p>
        {% endif %}
        
        <p style="margin-left: 0.2%"> You can add required skills as much as you want. To do so, please click "Add a skill" to add required skills and click "submit" when you are done: </p>
        <!--<button style="font-size:18px" onclick="location.href='/add'">Add a skill</button>-->  
        <h2 style="margin-left: 1%; margin-top: 1%">Add a skill</h2>

        <p> Your skills:</p>
        {% if job_skills %}
          <ul>
          {% for s in job_skills %}
            <li>{{ s.skill }} {{ s.rate}}</li>
              {% endfor %}
          </ul>
        {% endif %}

        <!--Make sure the form has the autocomplete function switched off: -->
        <form autocomplete="off" action="." method="post" name="skill_form"> 
            {% csrf_token %}
            <div class="autocomplete" style="width:300px;">
              <input id="skill" type="text" name="skill" placeholder="  Select a skill">
            </div>
            <div class="custom-select" style="width:200px;">
              <select name="star">
                <option value="0">Star rate</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select>
            </div>
              <input type="submit" name="skill_form" value="Select">
        </form> 
        <script>
          function openForm1() {
            document.getElementById("myPopup").style.display = "block";
          }

          function closeForm1() {
            document.getElementById("myPopup").style.display = "none";
          }
        </script>
      </div>  
    <script>
              function autocomplete(inp, arr) {
                /*the autocomplete function takes two arguments,
                the text field element and an array of possible autocompleted values:*/
                var currentFocus;
                /*execute a function when someone writes in the text field:*/
                inp.addEventListener("input", function(e) {
                    var a, b, i, val = this.value;
                    /*close any already open lists of autocompleted values*/
                    closeAllLists();
                    if (!val) { return false;}
                    currentFocus = -1;
                    /*create a DIV element that will contain the items (values):*/
                    a = document.createElement("DIV");
                    a.setAttribute("id", this.id + "autocomplete-list");
                    a.setAttribute("class", "autocomplete-items");
                    /*append the DIV element as a child of the autocomplete container:*/
                    this.parentNode.appendChild(a);
                    /*for each item in the array...*/
                    for (i = 0; i < arr.length; i++) {
                      /*check if the item starts with the same letters as the text field value:*/
                      if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                        /*create a DIV element for each matching element:*/
                        b = document.createElement("DIV");
                        /*make the matching letters bold:*/
                        b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                        b.innerHTML += arr[i].substr(val.length);
                        /*insert a input field that will hold the current array item's value:*/
                        b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                        /*execute a function when someone clicks on the item value (DIV element):*/
                        b.addEventListener("click", function(e) {
                            /*insert the value for the autocomplete text field:*/
                            inp.value = this.getElementsByTagName("input")[0].value;
                            /*close the list of autocompleted values,
                            (or any other open lists of autocompleted values:*/
                            closeAllLists();
                        });
                        a.appendChild(b);
                      }
                    }
                });
                /*execute a function presses a key on the keyboard:*/
                inp.addEventListener("keydown", function(e) {
                    var x = document.getElementById(this.id + "autocomplete-list");
                    if (x) x = x.getElementsByTagName("div");
                    if (e.keyCode == 40) {
                      /*If the arrow DOWN key is pressed,
                      increase the currentFocus variable:*/
                      currentFocus++;
                      /*and and make the current item more visible:*/
                      addActive(x);
                    } else if (e.keyCode == 38) { //up
                      /*If the arrow UP key is pressed,
                      decrease the currentFocus variable:*/
                      currentFocus--;
                      /*and and make the current item more visible:*/
                      addActive(x);
                    } else if (e.keyCode == 13) {
                      /*If the ENTER key is pressed, prevent the form from being submitted,*/
                      e.preventDefault();
                      if (currentFocus > -1) {
                        /*and simulate a click on the "active" item:*/
                        if (x) x[currentFocus].click();
                      }
                    }
                });
                function addActive(x) {
                  /*a function to classify an item as "active":*/
                  if (!x) return false;
                  /*start by removing the "active" class on all items:*/
                  removeActive(x);
                  if (currentFocus >= x.length) currentFocus = 0;
                  if (currentFocus < 0) currentFocus = (x.length - 1);
                  /*add class "autocomplete-active":*/
                  x[currentFocus].classList.add("autocomplete-active");
                }
                function removeActive(x) {
                  /*a function to remove the "active" class from all autocomplete items:*/
                  for (var i = 0; i < x.length; i++) {
                    x[i].classList.remove("autocomplete-active");
                  }
                }
                function closeAllLists(elmnt) {
                  /*close all autocomplete lists in the document,
                  except the one passed as an argument:*/
                  var x = document.getElementsByClassName("autocomplete-items");
                  for (var i = 0; i < x.length; i++) {
                    if (elmnt != x[i] && elmnt != inp) {
                      x[i].parentNode.removeChild(x[i]);
                    }
                  }
                }
                /*execute a function when someone clicks in the document:*/
                document.addEventListener("click", function (e) {
                    closeAllLists(e.target);
                });
              }

              var skills = {{skills_database|safe}};

              /*initiate the autocomplete function on the "myInput" element, and pass along the countries array as possible autocomplete values:*/
              autocomplete(document.getElementById("skill"), skills);
              </script>
              <script>
              var x, i, j, l, ll, selElmnt, a, b, c;
              /*look for any elements with the class "custom-select":*/
              x = document.getElementsByClassName("custom-select");
              l = x.length;
              for (i = 0; i < l; i++) {
                selElmnt = x[i].getElementsByTagName("select")[0];
                ll = selElmnt.length;
                /*for each element, create a new DIV that will act as the selected item:*/
                a = document.createElement("DIV");
                a.setAttribute("class", "select-selected");
                a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
                x[i].appendChild(a);
                /*for each element, create a new DIV that will contain the option list:*/
                b = document.createElement("DIV");
                b.setAttribute("class", "select-items select-hide");
                for (j = 1; j < ll; j++) {
                  /*for each option in the original select element,
                  create a new DIV that will act as an option item:*/
                  c = document.createElement("DIV");
                  c.innerHTML = selElmnt.options[j].innerHTML;
                  c.addEventListener("click", function(e) {
                      /*when an item is clicked, update the original select box,
                      and the selected item:*/
                      var y, i, k, s, h, sl, yl;
                      s = this.parentNode.parentNode.getElementsByTagName("select")[0];
                      sl = s.length;
                      h = this.parentNode.previousSibling;
                      for (i = 0; i < sl; i++) {
                        if (s.options[i].innerHTML == this.innerHTML) {
                          s.selectedIndex = i;
                          h.innerHTML = this.innerHTML;
                          y = this.parentNode.getElementsByClassName("same-as-selected");
                          yl = y.length;
                          for (k = 0; k < yl; k++) {
                            y[k].removeAttribute("class");
                          }
                          this.setAttribute("class", "same-as-selected");
                          break;
                        }
                      }
                      h.click();
                  });
                  b.appendChild(c);
                }
                x[i].appendChild(b);
                a.addEventListener("click", function(e) {
                    /*when the select box is clicked, close any other select boxes,
                    and open/close the current select box:*/
                    e.stopPropagation();
                    closeAllSelect(this);
                    this.nextSibling.classList.toggle("select-hide");
                    this.classList.toggle("select-arrow-active");
                  });
              }
              function closeAllSelect(elmnt) {
                /*a function that will close all select boxes in the document,
                except the current select box:*/
                var x, y, i, xl, yl, arrNo = [];
                x = document.getElementsByClassName("select-items");
                y = document.getElementsByClassName("select-selected");
                xl = x.length;
                yl = y.length;
                for (i = 0; i < yl; i++) {
                  if (elmnt == y[i]) {
                    arrNo.push(i)
                  } else {
                    y[i].classList.remove("select-arrow-active");
                  }
                }
                for (i = 0; i < xl; i++) {
                  if (arrNo.indexOf(i)) {
                    x[i].classList.add("select-hide");
                  }
                }
              }
              /*if the user clicks anywhere outside the select box,
              then close all select boxes:*/
              document.addEventListener("click", closeAllSelect);
            </script>
            <script type="text/javascript">
              function updateObligation() {
                change('inputlabel', 'required'); 

                if({{ job_skills }}) {
                  change('inputlabel', 'normal'); //make address normal
                  }
                }
            </script>
</body>
</html>
{% endblock %}
