{% extends 'navbar.html' %}
{% block findbutton %}
<button class="btn btn-danger navbar-btn" id="match">FIND MATCH</button>
{% endblock %}
{% block content %}
<!doctype html>
<html lang="en">
  <head>
    <style>
*{
    font-family: "Lucida Console", "Courier New", monospace;
}

.container-fluid #latest-jobs-header{
  position: relative;
  margin-top: 7%;

}
.container-fluid .row{
  position: relative;
  margin-top: 15px;
}
.carousel .card{
  position: relative;
  float: none; /* Added */
  margin-top: 120px;
  left: 40%;
}
.carousel-control-next{
  background-color: gray;
  max-height: 30px;
  max-width: 30px;
  margin-top: 250px;
}
.carousel-control-prev{
  background-color: gray;
  max-height: 30px;
  max-width: 30px;
  margin-top: 250px;
}

  </style>
  {% load static %}
  
 <!-- JQuery included for slider  -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <script> 
  // Slider's function for find match button click
  $(document).ready(function(){
    $(".carousel").hide();
    $("#match").click(function(){
      $(".row").remove();
      $(".carousel").show();
    });
  });
  </script> 

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  </head>
  <body>
    
    <!-- Latest jobs -->
    <div class="container-fluid">
      <div class="row" id="latest-jobs-header">
        <h1 class="latest-jobs">LATEST JOBS</h1>
      </div>
      <div class="row" id="job-cards-row1">
        {% for job in jobs %}
        <div class="col-*-*">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src=".../100px180/" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{job.job_title}}</h5>
              <p class="card-text">{{job.job_description}}</p>
              {% if is_student %}
              {% if job.id in student_applied_job %}
              {% else %}
              <a href="{% url 'apply_job' jobid=job.id %}"class="btn btn-primary">Apply</a>
              {% endif %}
              {% endif %}
              <a href="{% url 'see_details' jobid=job.id %}" class="btn btn-primary">See details</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <!-- Slider -->
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="false">
      <div class="carousel-inner ">
        <div class="carousel-item active">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src=".../100px180/" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Job title</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              <a href="#" class="btn btn-primary">Apply</a>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src=".../100px180/" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Job title</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              <a href="#" class="btn btn-primary">Apply</a>
            </div>
          </div>
        </div>
        <div class="carousel-item ">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src=".../100px180/" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Job title</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              <a href="#" class="btn btn-primary">Apply</a>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
{% endblock %}