{% extends 'navbar.html' %}

{% block content %}
<!doctype html>
<html lang="en">
  <head>
    <style>
*{
    font-family: "Lucida Console", "Courier New", monospace;
}

.container-fluid #latest-jobs-header{
  position: relative;
  margin-top: 130px;

}
.container-fluid .row{
  position: relative;
  margin-top: 15px;
}
.carousel .card{
  position: relative;
  float: none; /* Added */
  margin-top: 120px;
  left: 40%;
}
.carousel-control-next{
  background-color: gray;
  max-height: 30px;
  max-width: 30px;
  margin-top: 250px;
}
.carousel-control-prev{
  background-color: gray;
  max-height: 30px;
  max-width: 30px;
  margin-top: 250px;
}

  </style>
  {% load static %}
  

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <!---style-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Details !</title>
  </head>
  <body>
    <!-- Job information -->
    <br><br>
    <div class="container-fluid">
    <div class="row">
                <h5>{{job.job_title}}</h5>
                <div>
                    <br><br>
                    <h5 class="card-title">Description:</h5>
                    <p class="card-text">{{job.job_description}}</p>
                    <h5 class="card-title">Due date:</h5> <p class="card-text"> {{job.due_date}}</p>
                    <h5 class="card-title">Required Departments:</h5> 
                    <p class="card-text"> {{job.req_departments}}</p>
                    <h5 class="card-title">Required Skills:</h5>
                    <ul >
                        {% for skill,rate in jobs_skill_total %}
                        <li> {{skill}}
                          {% for i in '0123456789'|make_list %}
                          {% if forloop.counter <= rate %}
                          <span class="fa fa-star checked" style="color: orange"></span>
                          {% else %}
                          <span class="fa fa-star"></span>
                          {% endif %}
                          {% endfor %}
                        </li>
                      {% endfor %}
                </ul>
                {% if is_jobs_owner %}
                    <a href="{% url 'update_job' jobid=job.id %}" class="btn btn-primary">Update Job</a>
                    <a href="{% url 'delete_job' jobid=job.id %}" class="btn btn-primary">Delete Job</a>
                {% endif %}
                </div>
            </div>
        </div>
    <!-- Applicant Students -->
    <div class="container-fluid">
    <br><h6>Applicant Students</h6><br>
    {% for student,skill_rate in students_skill_total_all_zipped %}
    <div class="row">
            <div class="card">
                <h5 class="card-header">{{student.name}} {{student.surname}}</h5>
                <div class="card-body">
                    <div class="row">
                    <div class="col">
                        <a href="#"><img src="{% static "student-pp.png" %}" class="img-fluid" alt="Responsive image"></a>
                    </div>
                    <div class="col-6">
                        <ul class="list-group">
                          <li class="list-group-item"><b>Name:</b>{{student.name}} {{student.surname}}</li>
                          <li class="list-group-item"><b>Department:</b>{{student.department}} </li>
                          <li class="list-group-item"><b>University:</b>{{student.school_name}} r</li>
                          <li class="list-group-item"><b>CGPA:</b>{{student.cgpa}} </li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul>
                        {% if is_jobs_owner %}
                        <li style="margin: 10px;"><a href="{% url 'accept_student' jobid=job.id studentid=student.id%}" class="btn btn-primary">Accept Student</a></li>
                        <li style="margin: 10px;"><a href="{% url 'decline_student' jobid=job.id studentid=student.id%}" class="btn btn-primary">Decline Student</a></li>
                        {% endif %}
                        </ul>
                    </div>
                    </div>
                    <div class="row">
                    <h5 class="card-title">Top Skills:</h5>
                    <ul >
                        {% for skill,rate in skill_rate %}
                        <li> {{skill}}
                          {% for i in '0123456789'|make_list %}
                          {% if forloop.counter <= rate %}
                          <span class="fa fa-star checked" style="color: orange"></span>
                          {% else %}
                          <span class="fa fa-star"></span>
                          {% endif %}
                          {% endfor %}
                        </li>
                      {% endfor %}
                    </ul>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>

{% endblock %}