{% extends 'navbar.html' %}

<!--{% block content %}-->
<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    <link href="{% static "main.css" %}" rel="stylesheet" />
    <style>

	.dis {
	  display: none;
	}

	:target {
	  display: block;
	}

	*{
		font-family: "Lucida Console", "Courier New", monospace;
	}

	.container-fluid #latest-jobs-header{
	  position: relative;
	  margin-top: 130px;

	}
	.container-fluid .row{
	  position: relative;
	  margin-top: 15px;
	}

	#right {
		float: right;
		clear: right;
	}

	#left {
		float: left;
		clear: left;
	}

	.popup {
	  -webkit-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  user-select: none;
	}

	.choose {

	}

	.choose a {
	  border-radius: 5px;
	  outline: 0;
	  display: inline-block;
	  padding: 8px;
	  color: white;
	  background-color: orange;
	  text-align: center;
	  cursor: pointer;
	  font-size: 18px;
	  margin:0 auto;
	}
	
	#delbtn {
	  width: min-content;
	  border-radius: 5px;
	  outline: 0;
	  display: inline-block;
	  padding: 8px;
	  color: white;
	  background-color: red;
	  text-align: center;
	  cursor: pointer;
	  font-size: 18px;
	  margin:0 auto;
	}
	
	#updatebtn {
	  width: min-content;
	  border-radius: 5px;
	  outline: 0;
	  display: inline-block;
	  padding: 8px;
	  color: white;
	  background-color: blue;
	  text-align: center;
	  cursor: pointer;
	  font-size: 18px;
	  margin:0 auto;
	}


	.popup {
	  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	  margin: auto;
	}

	.major {
	  color: grey;
	  font-size: 18px;
	  margin-left: 20px;
	}

	.popup p{
	  margin-left: 20px;
	}

	.popup a {
	  text-decoration: none;
	  font-size: 22px;
	  color: black;
	}

	.popup button:hover, a:hover {
	  opacity: 0.7;
	}

	/* Toggle this class when clicking on the popup container (hide and show the popup) */
	.popup .show {
	  visibility: visible;
	  -webkit-animation: fadeIn 1s;
	  animation: fadeIn 1s
	}
	body{
	  background: url('{% static "hero-bg.jpg" %}')
	}

	/* Add animation (fade in the popup) */
	@-webkit-keyframes fadeIn {
	  from {opacity: 0;}
	  to {opacity: 1;}
	}

	@keyframes fadeIn {
	  from {opacity: 0;}
	  to {opacity:1 ;}
	}

	li{
		display: inline;
	}

	* {box-sizing: border-box}

	/* Set a style for all buttons */
	.popup button {
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	opacity: 0.9;
	}

	button:hover {
	opacity:1;
	}

	/* Float cancel and delete buttons and add an equal width */
	.cancelbtn, .deletebtn {
	float: left;
	width: 50%;
	}

	/* Add a color to the cancel button */
	.cancelbtn {
	background-color: #ccc;
	color: black;
	}

	/* Add a color to the delete button */
	.deletebtn {
	background-color: #f44336;
	}

	/* Add padding and center-align text to the container */
	.containermodal {
	padding: 16px;
	text-align: center;
	}

	/* The Modal (background) */
	.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: #474e5d;
	padding-top: 50px;
	}

	/* Modal Content/Box */
	.modal-content {
	background-color: #fefefe;
	margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
	}

	/* Style the horizontal ruler */
	hr {
	border: 1px solid #f1f1f1;
	margin-bottom: 25px;
	}

	/* The Modal Close Button (x) */
	.close {
	position: absolute;
	right: 35px;
	top: 15px;
	font-size: 40px;
	font-weight: bold;
	color: #f1f1f1;
	}

	.close:hover,
	.close:focus {
	color: #f44336;
	cursor: pointer;
	}

	/* Clear floats */
	.clearfix::after {
	content: "";
	clear: both;
	display: table;
	}

	/* Change styles for cancel button and delete button on extra small screens */
	@media screen and (max-width: 300px) {
	.cancelbtn, .deletebtn {
		width: 100%;
	}
	}

  </style>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Welcome to PlaDat home page !</title>
  </head>
  <body>
  	<h1 style="margin-top: 100px; text-align: center;"> What do you want to do?</h1>
	<div class="choose">
		<a style="font-size:18px" href="#addskill">Manage skills</a>
		<a style="font-size:18px; margin-left:68.5%" href="#change">Change settings</a>
	</div>

    <div class="popup" >
		<div class="dis" id="addskill">
			<br>
			<h2 style="margin-left:20px">Manage skills</h2>

			<p> Your skills:</p>
                {% if self_skills %}
                  
					{% for skill in self_skills %}
						<ul>
							<li name="listrow">{{ skill.skill }} {{ skill.rate}}</li>
						</ul>
				  	{% endfor %}
				 
					<li ><button onclick="document.getElementById('updatemodal').style.display='block'" id="updatebtn" style="margin-left:20px">Update</button></li>
					<li ><button onclick="document.getElementById('deletemodal').style.display='block'" id="delbtn" >Delete</button></li>
				{% endif %}
			
			
			<!--Make sure the form has the autocomplete function switched off: -->
			<form autocomplete="off" action="." method="post">
			  {% csrf_token %}
			  <div class="autocomplete">
				<input style="width:130%" id="skill" type="text" name="skill" placeholder="  Select a skill" required>
			  </div>
			  <div class="custom-select" style="width:20%; margin-left:6%">
				<select name="star" required>
				  <option value="0">Star rate</option>
				  <option value="1">1</option>
				  <option value="2">2</option>
				  <option value="3">3</option>
				  <option value="4">4</option>
				  <option value="5">5</option>
				  <option value="6">6</option>
				  <option value="7">7</option>
				  <option value="8">8</option>
				  <option value="9">9</option>
				  <option value="10">10</option>
				</select>
			  </div>
			  <input name="skillset" type="submit" value="Add">
			</form>

			<div id="deletemodal" class="modal">
				<span onclick="document.getElementById('deletemodal').style.display='none'" class="close" title="Close ">&times;</span>
				<div class="modal-content">
				  <div class="containermodal">
					<form method="post">
						{% csrf_token %}
						<div class="skillSelect">
							Please select the skill you want to delete:
							<select name="oldskill" required>
								{% for skill in self_skills %}
								<option value="{{ skill.skill }}">{{ skill.skill }}</option>
				  				{% endfor %}
							</select>
						
					  	</div>

						<div class="clearfix">
					  		<button type="button" class="cancelbtn" onclick="document.getElementById('deletemodal').style.display='none'">Cancel</button>
					  		<button name= "delete" type="submit" class="deletebtn">Delete</button>
					</form>
				  		</div>
					</div>
				</div>
			</div>
			<div id="updatemodal" class="modal">
				<span onclick="document.getElementById('updatemodal').style.display='none'" class="close" title="Close ">&times;</span>
				<div class="modal-content">
				  <div class="containermodal">
					<form autocomplete="off" action="." method="post">
						{% csrf_token %}
						<div class="skillSelect">
							Please select the skill you want to update:
							<select name="oldskill" required>
								{% for skill in self_skills %}
								<option value="{{ skill.skill }}">{{ skill.skill }}</option>
				  				{% endfor %}
							</select>
							
							<br>
							Now you can change the skill with new one or its rate: 
					  	</div>
											
						<div class="autocomplete">
						  <input style="width:130%" id="updateskill" type="text" name="updateskill" placeholder="  Select a skill" required>
						</div>
						
						<div class="custom-select" style="width:20%; margin-left:6%">
						  <select name="updatestar" required>
							<option value="0">Star rate</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
						  </select>
						</div>
					  
						<div class="clearfix">
					  		<button type="button" class="cancelbtn" onclick="document.getElementById('updatemodal').style.display='none'">Cancel</button>
					  		<button name= "update" type="submit" class="deletebtn">Update</button>
					</form>
				  		</div>
					</div>
				  </div>
				</div>
			  </div>
			</div>

			  <script>
				// Get the modal
				var modal = document.getElementById('updatemodal');
				
				// When the user clicks anywhere outside of the modal, close it
				window.onclick = function(event) {
				  if (event.target == modal) {
					modal.style.display = "none";
				  }
				}
				</script>

		  <script>
		  function autocomplete(inp, arr) {
			/*the autocomplete function takes two arguments,
			the text field element and an array of possible autocompleted values:*/
			var currentFocus;
			/*execute a function when someone writes in the text field:*/
			inp.addEventListener("input", function(e) {
				var a, b, i, val = this.value;
				/*close any already open lists of autocompleted values*/
				closeAllLists();
				if (!val) { return false;}
				currentFocus = -1;
				/*create a DIV element that will contain the items (values):*/
				a = document.createElement("DIV");
				a.setAttribute("id", this.id + "autocomplete-list");
				a.setAttribute("class", "autocomplete-items");
				/*append the DIV element as a child of the autocomplete container:*/
				this.parentNode.appendChild(a);
				/*for each item in the array...*/
				for (i = 0; i < arr.length; i++) {
				  /*check if the item starts with the same letters as the text field value:*/
				  if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
					/*create a DIV element for each matching element:*/
					b = document.createElement("DIV");
					/*make the matching letters bold:*/
					b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
					b.innerHTML += arr[i].substr(val.length);
					/*insert a input field that will hold the current array item's value:*/
					b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
					/*execute a function when someone clicks on the item value (DIV element):*/
					b.addEventListener("click", function(e) {
						/*insert the value for the autocomplete text field:*/
						inp.value = this.getElementsByTagName("input")[0].value;
						/*close the list of autocompleted values,
						(or any other open lists of autocompleted values:*/
						closeAllLists();
					});
					a.appendChild(b);
				  }
				}
			});
			/*execute a function presses a key on the keyboard:*/
			inp.addEventListener("keydown", function(e) {
				var x = document.getElementById(this.id + "autocomplete-list");
				if (x) x = x.getElementsByTagName("div");
				if (e.keyCode == 40) {
				  /*If the arrow DOWN key is pressed,
				  increase the currentFocus variable:*/
				  currentFocus++;
				  /*and and make the current item more visible:*/
				  addActive(x);
				} else if (e.keyCode == 38) { //up
				  /*If the arrow UP key is pressed,
				  decrease the currentFocus variable:*/
				  currentFocus--;
				  /*and and make the current item more visible:*/
				  addActive(x);
				} else if (e.keyCode == 13) {
				  /*If the ENTER key is pressed, prevent the form from being submitted,*/
				  e.preventDefault();
				  if (currentFocus > -1) {
					/*and simulate a click on the "active" item:*/
					if (x) x[currentFocus].click();
				  }
				}
			});
			function addActive(x) {
			  /*a function to classify an item as "active":*/
			  if (!x) return false;
			  /*start by removing the "active" class on all items:*/
			  removeActive(x);
			  if (currentFocus >= x.length) currentFocus = 0;
			  if (currentFocus < 0) currentFocus = (x.length - 1);
			  /*add class "autocomplete-active":*/
			  x[currentFocus].classList.add("autocomplete-active");
			}
			function removeActive(x) {
			  /*a function to remove the "active" class from all autocomplete items:*/
			  for (var i = 0; i < x.length; i++) {
				x[i].classList.remove("autocomplete-active");
			  }
			}
			function closeAllLists(elmnt) {
			  /*close all autocomplete lists in the document,
			  except the one passed as an argument:*/
			  var x = document.getElementsByClassName("autocomplete-items");
			  for (var i = 0; i < x.length; i++) {
				if (elmnt != x[i] && elmnt != inp) {
				  x[i].parentNode.removeChild(x[i]);
				}
			  }
			}
			/*execute a function when someone clicks in the document:*/
			document.addEventListener("click", function (e) {
				closeAllLists(e.target);
			});
		  }

		  var skills = {{skills_database|safe}};
		  var self = {{self_skill_array|safe}};

		  for(i = 0; i < self.length; i++){
			var x = skills.indexOf(self[i]);
			skills.splice(x, 1);
		  }

		  /*initiate the autocomplete function on the "myInput" element, and pass along the countries array as possible autocomplete values:*/
		  autocomplete(document.getElementById("skill"), skills);
		  autocomplete(document.getElementById("updateskill"), skills);
		  </script>
		  <script>
		  var x, i, j, l, ll, selElmnt, a, b, c;
		  /*look for any elements with the class "custom-select":*/
		  x = document.getElementsByClassName("custom-select");
		  l = x.length;
		  for (i = 0; i < l; i++) {
			selElmnt = x[i].getElementsByTagName("select")[0];
			ll = selElmnt.length;
			/*for each element, create a new DIV that will act as the selected item:*/
			a = document.createElement("DIV");
			a.setAttribute("class", "select-selected");
			a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
			x[i].appendChild(a);
			/*for each element, create a new DIV that will contain the option list:*/
			b = document.createElement("DIV");
			b.setAttribute("class", "select-items select-hide");
			for (j = 1; j < ll; j++) {
			  /*for each option in the original select element,
			  create a new DIV that will act as an option item:*/
			  c = document.createElement("DIV");
			  c.innerHTML = selElmnt.options[j].innerHTML;
			  c.addEventListener("click", function(e) {
				  /*when an item is clicked, update the original select box,
				  and the selected item:*/
				  var y, i, k, s, h, sl, yl;
				  s = this.parentNode.parentNode.getElementsByTagName("select")[0];
				  sl = s.length;
				  h = this.parentNode.previousSibling;
				  for (i = 0; i < sl; i++) {
					if (s.options[i].innerHTML == this.innerHTML) {
					  s.selectedIndex = i;
					  h.innerHTML = this.innerHTML;
					  y = this.parentNode.getElementsByClassName("same-as-selected");
					  yl = y.length;
					  for (k = 0; k < yl; k++) {
						y[k].removeAttribute("class");
					  }
					  this.setAttribute("class", "same-as-selected");
					  break;
					}
				  }
				  h.click();
			  });
			  b.appendChild(c);
			}
			x[i].appendChild(b);
			a.addEventListener("click", function(e) {
				/*when the select box is clicked, close any other select boxes,
				and open/close the current select box:*/
				e.stopPropagation();
				closeAllSelect(this);
				this.nextSibling.classList.toggle("select-hide");
				this.classList.toggle("select-arrow-active");
			  });
		  }
		  function closeAllSelect(elmnt) {
			/*a function that will close all select boxes in the document,
			except the current select box:*/
			var x, y, i, xl, yl, arrNo = [];
			x = document.getElementsByClassName("select-items");
			y = document.getElementsByClassName("select-selected");
			xl = x.length;
			yl = y.length;
			for (i = 0; i < yl; i++) {
			  if (elmnt == y[i]) {
				arrNo.push(i)
			  } else {
				y[i].classList.remove("select-arrow-active");
			  }
			}
			for (i = 0; i < xl; i++) {
			  if (arrNo.indexOf(i)) {
				x[i].classList.add("select-hide");
			  }
			}
		  }
		  /*if the user clicks anywhere outside the select box,
		  then close all select boxes:*/
		  document.addEventListener("click", closeAllSelect);
		  </script>
		  <script>
		  function openForm1() {
			document.getElementById("myPopup").style.display = "block";
		  }

		  function closeForm1() {
			document.getElementById("myPopup").style.display = "none";
		  }
		  </script>
	</div>
    </div>
    <div class="popup">
        <div class="dis" id="change" style="font-size:18px">
		    <br>
		    <div class="container-fluid">
		    <br>
		    <div class="mx-auto w-75">
		    <form action= "." method= "post">
		    {% csrf_token %}
		        <div class="row justify-content-center bg-primary">
		            <br><h2>User Information:</h2><br></div>
		        <div class="row bg-light justify-content-around">
		                <div class="col justify-content-center">
		                    <img src="{{ img.url }}" class="img-fluid" alt="Responsive image"><br>
		                    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#exampleModalCenter">Change Picture</button>
		                </div>
		                <div class="col justify-content-center">
		                    <div class="form-group row">
		                        <label for="static_username" class="col-sm-2 col-form-label">User name:</label>
		                        <div class="col-sm-10">
		                        <input type="text" readonly class="form-control-plaintext" id="static_username" value="{{username}}">
		                        </div>
		                    </div>
		                    <div class="form-group row">
		                        <label for="e-mail" class="col-sm-2 col-form-label">E-mail:</label>
		                        <div class="col-sm-10">
		                        <input type="e-mail" class="form-control" name="e-mail" value="{{e_mail}}">
		                        </div>
		                    </div>
		                    <div class="form-group row">
		                        <label for="b-day" class="col-sm-2 col-form-label">Birth Date:</label>
		                        <div class="col-sm-10">
		                            <input type="date" id="b-day" name="Date_Of_Birth" value="{{b_date|date:'Y-m-d'}}" />
		                        </div>
		                    </div>
		                    <div class="form-group row">
		                        <label for="name_surname" class="col-sm-2 col-form-label">Full Name:</label>
		                        <div class="col-sm-10">
		                        <input type="text" class="form-control" name="name_surname" value="{{fullname}}">
		                        </div>
		                    </div>
		                    <div class="form-group row">
		                        <label for="Location" class="col-sm-2 col-form-label">Location:</label>
		                        <div class="col-sm-10">
		                        <input type="text" class="form-control" name="Location"value="{{location}}">
		                        </div>
		                    </div>
		                    </div>
		        </div>
		        <div class="row justify-content-center bg-primary">
		            <br><h2>Education:</h2><br></div>
		        <div class="row bg-light">
		            <div class="col justify-content-center">
		                <div class="form-group row">
		                        <label for="School_name" class="col-sm-2 col-form-label">School:</label>
		                        <div class="col-sm-10">
		                        <input type="text" class="form-control" name="School_name" value="{{school}}">
		                    </div>
		                </div>
		                <div class="form-group row">
		                        <label for="Location" class="col-sm-2 col-form-label">Depertment:</label>
		                        <div class="col-sm-10">
		                        <input type="text" class="form-control" name="department" value="{{dep}}">
		                    </div>
		                </div>
		                <div class="form-group row">
		                        <label for="Location" class="col-sm-2 col-form-label">CGPA:</label>
		                        <div class="col-sm-10">
		                        <input type="number" min="0.00" max="4.00" step="0.01" class="form-control" name="cgpa" value="{{gpa}}">
		                    </div>
		                </div>
		                <div class="form-group row">
		                        <label for="b-day" class="col-sm-2 col-form-label">Start Date:</label>
		                        <div class="col-sm-10">
		                        <input type="date" name="s_day" value="{{s_day|date:'Y-m-d'}}" />
		                    </div>
		                </div>
		                <div class="form-group row">
		                        <label for="b-day" class="col-sm-2 col-form-label">End Date:</label>
		                        <div class="col-sm-10">
		                        <input type="date" name="e_day" value="{{e_day|date:'Y-m-d'}}" />
		                    </div>
		                </div>
		            </div>
		        </div>
		        
		        <div class="row justify-content-center bg-primary">
		            <br><h2>Notification:</h2><br></div>
		        <div class="row bg-light">
		            <div class="col justify-content-center">
		                <div class="form-group row">
		                    <div class="form-check">
		                        <input class="form-check-input" type="checkbox" name="not_1" {% if not1 %} checked {% endif %}>
		                        <label class="form-check-label" for="not_1">
		                        Do you wanna get news?
		                        </label>
		                    </div>
		                </div>
		                <div class="form-group row">
		                    <div class="form-check">
		                        <input class="form-check-input" type="checkbox" name="not_2" {% if not2 %} checked {% endif %}>
		                        <label class="form-check-label" for="not_2">
		                        Do you wanna get notificated about new matches?
		                        </label>
		                    </div>
		                </div>
		                <div class="form-group row">
		                    <div class="form-check">
		                        <input class="form-check-input" type="checkbox" name="not_3" {% if not3 %} checked {% endif %}>
		                        <label class="form-check-label" for="not_3">
		                        Do you wanna get notificated about new messages?
		                        </label>
		                    </div>
		                </div>
		            </div>
		        </div>
		        <div class="row bg-light">
		            <div class="col justify-content-center">
		                    <button name="set" type="submit" class="btn btn-primary btn-lg mb-2">Save Changes</button>
		            </div>
		        </div>
		    </form>
		    </div>
		    <script>
              function openForm2() {
                document.getElementById("settingspop").style.display = "block";
              }

              function closeForm2() {
                document.getElementById("settingspop").style.display = "none";
              }
              </script>
		</div>
	 </div>
	</div>

	        <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Change Profile Picture</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form method="post" enctype="multipart/form-data">
          <div class="modal-body">
            {% csrf_token %}
            <h3>Choose Image:</h3><br>
               {{ form.as_p }}
             {% if img_obj %}
              <br><h3>Succesfully uploaded : {{fullname}}'s Picture</h3><br>
              <img src="{{ img_obj.url}}" alt="connect" style="max-width: 80%;  height: auto;">
            {% endif %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button name="change_img" type="submit" class="btn btn-primary">Save Image</button>
          </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>

<!--{% endblock %}-->